<!-- component -->
<div class="w-screen bg-gray-400 p-4 rounded-md">
  <div class="w-3/12 mt-2 bg-purple-500 py-1 rounded-full"></div>
  <div class="w-6/12 mt-2 bg-purple-600 py-1 rounded-full"></div>
  <div class="w-8/12 mt-2 bg-purple-700 py-1 rounded-full"></div>

  <div class="mt-2 bg-gray-600 rounded-full">
    <div class="w-9/12 mt-2 bg-purple-800 py-1 rounded-full"></div>
  </div>

  <div class="mt-2 bg-gray-600 rounded-full">
    <div class="w-6/12 mt-2 bg-purple-900 py-0 rounded-full">
      <div
        class="text-white text-sm inline-block bg-purple-700 px-2 rounded-full"
      >
        50%
      </div>
    </div>
  </div>

  <div class="mt-2 bg-gray-600 rounded-full">
    <div class="w-8/12 mt-2 bg-purple-900 py-1 text-center rounded-full">
      <div
        class="text-white text-sm inline-block bg-purple-700 px-2 rounded-full"
      >
        75%
      </div>
    </div>
  </div>
</div>
